.additional-nav-list {
  @include reset-list;
  position: relative;

  @media (min-width: $mobile-width) and (max-width: 1149px) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -30px;
    left: 0;
    display: flex;
  }
}

.additional-nav-list__item {
  margin: 0;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding: 28px 0 26px 76px;
  }
}
