.site-nav {
  position: relative;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    background-color: $white;
  }

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.site-nav__list {
  @include reset-list;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    display: flex;
    order: 2;
    position: absolute;
    bottom: -30px;
    left: 0;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
  }
}

.site-nav__delivery-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -30px;
    right: 0;
  }
}
