.page {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: $gray;
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page__wrapper {
  margin: 0 auto;
  max-width: 1150px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
  background-color: $base-bg-color;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.title {
  font-weight: 700;
  color: $black;

  &--h2 {
    font-size: 27px;
    line-height: 30px;
  }

  &--h3 {
    font-size: 17px;
    line-height: 24px;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 16px 0;
  border: 2px solid $gray;
  color: $gray;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
}
