.catalog {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding: 0 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.catalog__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog__item {
  &:not(:nth-child(3n+3)) {
    @media (min-width: $desktop-width) {
      margin-right: 51px;
    }
  }
}
