.contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 50px;
    justify-content: end;
  }

  position: relative;
}

.contacts__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__list {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contacts__item {
  display: flex;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    width: 50%;
  }
}

.contacts__item-description {
  margin: 0;

  a {
    color: $gray;
    border-bottom: 1px solid #62d1ba;
  }
}

.contacts__maps {
  position: relative;
  overflow: hidden;
  min-height: 454px;
  background-image: url("../img/jpg/map-mobile@1x-new1.jpg");
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/jpg/map-tablet@1x1.jpg");
    min-height: 457px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/jpg/map-desktop@1x1.jpg");
    min-width: 527px;
  }

  & iframe {
    position: absolute;
    border: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.contacts__button {
  @media (min-width: $mobile-width) {
    margin: 0 auto;
    width: 260px;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 50px;
    left: 300px;
  }
}
