.intro {
  background-color: $section-bg-color;
}

.intro__wrapper {
  padding: 74px 30px;
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $black;
}
