.preview {
  background-image: url("../../img/jpg/hero-mobile@2x\ 1.jpg");
  background-repeat: no-repeat;
}

.preview__title {
  margin-top: 73px;
  text-align: center;
}

.preview__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.preview__link {
  display: flex;
  justify-content: space-between;
  color: $white;

  &--light-tiffany {
    background-color: $bg-light-tiffany;
  }

  &--tiffany {
    background-color: $bg-tiffany;
  }
}

.preview__link-title {
  font-size: 19px;
  font-weight: 700;
}
