.production {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: inherit;
  }
}

.production-title {
  display: flex;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.production-title__icon {
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: start;
  }
}

.production-title__heading {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production-video {
  position: relative;
  width: 260px;
  height: 150px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-top: 96px;
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    margin: 0;
  }

  & img {
    max-width: fit-content;
  }

  &__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.production-description__text {
  font-size: 13px;
  line-height: 24px;
}
