.production {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "video video title"
      "video video desc";
  }
}

.production__title {
  display: flex;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../img/svg/video.svg");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    order: -1;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
  }
}

.production__description {
  @media (min-width: $desktop-width) {
    grid-area: desc;
  }
}

.production__title-heading {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production__video {
  position: relative;
  width: 260px;
  height: 150px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    // margin-top: 96px;
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    margin: 0;
    grid-area: video;
  }

  & img {
    max-width: fit-content;
  }
}

.production__button {
  padding: 0;
  border: 0;
  width: 101px;
  height: 77px;
  background-color: $gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 101px;
    height: 77px;
    background: transparent;
    background-image: url("../../img/svg/play-mobile.svg");
    background-repeat: no-repeat;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
}
