.product-card__image {
  display: block;
  background-color: $section-bg-color;
  width: max-content;
  height: auto;
  margin: 0 auto;

  // & picture {
  //   display: flex;
  // }
}

.product-card__text {
  font-size: 13px;
  line-height: 30px;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__button {
  border: 0;
  background: transparent;
}
